{% extends 'base/base.html' %}
{% load static %}

{% block titel %} {% endblock %}
{% block descripsion %}   {% endblock %}



{% block body %}
<br> <br> <br>

<style>
.reply-to {
    display: block;
    font-size: 13px;
    color: #6c757d;
    margin-bottom: 6px;
}
.reply-to strong {
    color: #007bff;
}
</style>


        <!--=====================================
                    CART SIDEBAR PART END
        =======================================-->


        <!--=====================================
                  NAV SIDEBAR PART START
        =======================================-->

        <!--=====================================
                    MOBILE-MENU PART END
        =======================================-->


        <!--=====================================
                    PRODUCT VIEW START
        =======================================-->

        <!--=====================================
                    PRODUCT VIEW END
        =======================================-->



        <!--=====================================
                    BANNER PART START

                    BANNER PART END
        =======================================-->


        <!--=====================================
                PRODUCT DETAILS PART START
        =======================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="product-navigation">
                            <li class="product-nav-prev">
                                <a href="#">
                                    <i class="icofont-arrow-right"></i>
                                    محصول قبلی
                                    <span class="product-nav-popup">
                                        <img src="{% static 'images/product/02.jpg' %}" alt="product">
                                        <small>هویج ارگانیک</small>
                                    </span>
                                </a>
                            </li>
                            <li class="product-nav-next">
                                <a href="#">
                                    محصول بعدی
                                    <i class="icofont-arrow-left"></i>
                                    <span class="product-nav-popup">
                                        <img src="{% static 'images/product/03.jpg' %}" alt="product">
                                        <small>خیار تازه</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-grid">
                            <img src="{% static 'images/product/01.jpg' %}" alt="product">
                            <img src="{% static 'images/product/01.jpg' %}" alt="product">
                            <img src="{% static 'images/product/01.jpg' %}" alt="product">
                            <img src="{% static 'images/product/01.jpg' %}" alt="product">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-content" id="product-detail-root" data-slug="{{ product_slug }}">
                                 <div class="details-content">

                                <h3 class="details-name">
                                    <a href="#">${product.title}</a>
                                </h3>

                                <div class="details-meta">
                                    <p>کد محصول:<span>${product.id}</span></p>
                                    <p>برند:<a href="#">ردهامی</a></p>
                                </div>

                                <div class="details-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="#">(3 امتیاز)</a>
                                </div>

                               <h3 class="details-price">

                                   <del>38 ريال</del>
                                    <span>24 ريال<small>/برای هر کیلو</small></span>
                                </h3>

                                <p class="details-desc">
                                    ${product.description || ''}
                                </p>

                    <!--            <div class="details-list-group">-->
                    <!--                <label class="details-list-title">تگ ها:</label>-->
                    <!--                <ul class="details-tag-list">-->
                    <!--                    <li><a href="#">ارگانیک</a></li>-->
                    <!--                    <li><a href="#">سبزیجات</a></li>-->
                    <!--                    <li><a href="#">فلفل ها</a></li>-->
                    <!--                </ul>-->
                    <!--            </div>-->

                                <div class="details-list-group">
                                    <label class="details-list-title">اشتراک:</label>
                                    <ul class="details-share-list">
                                        <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                                        <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                                        <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                                        <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                                    </ul>
                                </div>

            <div class="details-add-group">
                <button class="product-add" title="افزودن به سبد خرید">
                    <i class="fas fa-shopping-basket"></i>
                    <span>افزودن به سبد خرید</span>
                </button>

                <div class="product-action">
                    <button class="action-minus" title="کم کردن">
                        <i class="icofont-minus"></i>
                    </button>

                    <input class="action-input"
                           type="text"
                           name="quantity"
                           value="1"
                           title="تعداد مورد نیاز">

                    <button class="action-plus" title="زیاد کردن">
                        <i class="icofont-plus"></i>
                    </button>
                </div>
            </div>

            <div class="details-action-group">
                <a class="view-wish wish" href="#" title="افزودن به لیست علاقه مندی ها">
                    <i class="icofont-heart"></i>
                    <span>افزودن به علاقه مندی</span>
                </a>

                <a class="details-compare" href="compare.html" title="مقایسه این محصول">
                    <i class="fas fa-random"></i>
                    <span>مقایسه کن</span>
                </a>
            </div>

        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                PRODUCT DETAILS PART END
        =======================================-->
         <aside class="cart-sidebar" id="cart-sidebar">
    <div class="cart-header">
        <div class="cart-total">
            <i class="fas fa-shopping-basket"></i>
            <span>کل مورد (<span id="cart-count">0</span>)</span>
        </div>
        <button class="cart-close"><i class="icofont-close"></i></button>
    </div>
    <ul class="cart-list" id="cart-list">
        <!-- آیتم‌ها به‌صورت دینامیک بارگذاری می‌شن -->
    </ul>
    <div class="cart-footer">
        <button class="coupon-btn">آیا کد تخفیف دارید؟</button>
        <form class="coupon-form">
            <input type="text" placeholder="کد تخفیف خود را وارد کنید">
            <button type="submit"><span>ثبت</span></button>
        </form>
        <a class="cart-checkout-btn" href="checkout.html">
            <span class="checkout-label">برو به تسویه حساب</span>
            <span class="checkout-price" id="checkout-price">0 ریال</span>
        </a>
    </div>
</aside>


        <!--=====================================
                  PRODUCT TAB PART START
        =======================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                         <ul class="nav nav-tabs">
                            <li><a href="#tab-desc" class="tab-link active" data-bs-toggle="tab">توضیحات</a></li>
                            <li><a href="#tab-spec" class="tab-link" data-bs-toggle="tab">مشخصات</a></li>
                            <li><a href="#tab-reve" class="tab-link" data-bs-toggle="tab">بررسی (2)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="tab-desc">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-details-frame">
                                <div class="tab-descrip">
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-spec">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-details-frame">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th scope="row">کد محصول</th>
                                            <td>123456</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">وزن</th>
                                            <td>1 کیلو ، 2 کیلو</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">مناسب برای</th>
                                            <td>کباب و خشک کردنی</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">نوع کشت</th>
                                            <td>ارگانیک</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-reve">
                    <div class="row">
                <!-- ✅ ROOT اصلی برای JS -->
                         <div class="col-lg-12"
                                     id="product-detail-root"
                                     data-product-id="{{ product.id }}"
                                     data-product-slug="{{ product.slug }}">


 <!-- ریشه با اسلاگ محصول (خیلی مهم برای JS) -->
<div class="details-content" id="product-detail-root" data-slug="{{ product_slug }}">

    <!-- =======================
         COMMENTS LIST (AJAX)
    ======================== -->
    <div class="product-details-frame">
        <h3 class="frame-title">نظرات کاربران <span id="comment-count"></span></h3>
        <ul class="review-list" id="comments-list">
            <li class="p-3 text-muted">در حال بارگذاری نظرات...</li>
        </ul>
    </div>

    <!-- =======================
         ADD COMMENT FORM
    ======================== -->
    <div class="product-details-frame" id="add-comment-section">
        <h3 class="frame-title">نظر خود را اضافه کنید</h3>

        <!-- نمایش حالت پاسخ -->
        <div id="reply-info" style="display: none; background: #f0f0f0; padding: 10px; border-radius: 5px; margin-bottom: 15px; border-right: 4px solid #007bff;">
            <span>شما در حال پاسخ به: <strong id="reply-target-name"></strong> هستید.</span>
            <button type="button" onclick="cancelReply()" class="btn btn-sm btn-outline-danger" style="margin-right: 15px; font-size: 12px; padding: 2px 8px;">انصراف</button>
        </div>

        <!-- فرم -->
        <form id="comment-form" class="review-form" autocomplete="off">
            <!-- اگر می‌خواهی از hidden برای parent استفاده کنی -->
            <input type="hidden" id="reply-target-id" name="parent">

            <div class="row">
                <!-- کامنت -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea name="text" id="comment-text" class="form-control" placeholder="نظر خود را بنویسید" required></textarea>
                    </div>
                </div>

                <!-- نام -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" name="name" id="comment-name" class="form-control" placeholder="نام و نام خانوادگی *" required>
                    </div>
                </div>

                <!-- ایمیل -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="email" name="email" id="comment-email" class="form-control" placeholder="ایمیل شما *" required>
                    </div>
                </div>

                <!-- ارسال -->
                <div class="col-lg-12">
                    <button type="submit" id="comment-submit" class="btn btn-inline">
                        <i class="icofont-paper-plane"></i>
                        <span>ثبت و انتشار نظر</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- =======================
     ADD COMMENT FORM
======================== -->

</div>





















        <!--=====================================
                    PRODUCT TAB PART END
        =======================================-->


        <!--=====================================
                 PRODUCT RELATED PART START
        =======================================-->

        <!--=====================================
                 PRODUCT RELATED PART END
        =======================================-->



        <!--=====================================
                    NEWSLETTER PART START
        =======================================-->

        <!--=====================================
                    NEWSLETTER PART END
        =======================================-->


        <!--=====================================
                    INTRO PART START

                    INTRO PART END
        =======================================-->


        <!--=====================================
                     FOOTER PART START
        =======================================-->

        <!--=====================================
                      FOOTER PART END
        =======================================-->


        <!--=====================================
                    JS LINK PART START
        =======================================-->



<script src="{% static 'js/product-detail.js' %}"></script>
<script src="{% static 'js/omment-product.js' %}"></script>
<script src="{% static 'js/cart_detail.js' %}"></script>


{% endblock %}